.quick-actions-card {
  background: white;

  border-radius: 18px;

  padding: 20px;

  border: 1px solid #edf2f7;

  box-shadow:
    0 1px 2px rgba(15, 23, 42, 0.02),
    0 4px 10px rgba(15, 23, 42, 0.03);
}

.quick-actions-list {
  margin-top: 18px;

  display: flex;
  flex-direction: column;

  gap: 14px;
}

.quick-actions-list button {
  border: none;

  padding: 12px 16px;

  border-radius: 12px;

  font-size: 14px;
  font-weight: 500;

  cursor: pointer;

  transition: 0.2s ease;
}

/* Blue */

.blue-btn {
  background: #dbeafe;
  color: #2563eb;
}

.blue-btn:hover {
  background: #bfdbfe;
}

/* Green */

.green-btn {
  background: #dcfce7;
  color: #16a34a;
}

.green-btn:hover {
  background: #bbf7d0;
}

/* Orange */

.orange-btn {
  background: #ffedd5;
  color: #ea580c;
}

.orange-btn:hover {
  background: #fed7aa;
}

/* Purple */

.purple-btn {
  background: #ede9fe;
  color: #7c3aed;
}

.purple-btn:hover {
  background: #ddd6fe;
}