@import "tailwindcss";


/* reports section college-team */
@theme {
  --color-primary: #ff6d34;
  --color-primary-light: #fff0ea;
  --color-primary-hover: #e0531b;
}

/* *, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
} */